*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root{
    --first-color: #111B21;
    --text-color: #ffffff;
    --max-width: 800px;
}
body{
    background-color: var(--first-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}
.content{
    min-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-todo{
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-weight: 500;
    color: var(--text-color);
}

.contenido-primario{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

#formulario{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: .8rem;
    padding: 1.5rem 0;
}

.add-task{
    width: 400px;
    padding: .4rem;
    font-size: .8rem;
    border-radius: 5px;
    border: none;
}
button{
    width: 20%;
    padding: .4rem;
    cursor: pointer;
    border-radius: 5px;
    background-color: #dfad48;
    border: none;
}
#resultado{
    width: 700px;
    padding: 1rem 2rem;    
    background-color: var(--text-color);
    border-radius: 5px;
    font-size: .8rem;
    height: 250px;
    overflow-x: auto;
}

button:hover{
    background-color: #dfad48c1;
}
.content-message{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
.error{
    width: 80%;
    padding: .3rem;
    text-align: center;
    color: var(--text-color);
    font-weight: 600;
    background-color: red;
    margin-bottom: 1.5rem;
    border-radius: 5px;
}

.borrar-tarea,
.borrar-tarea:hover {
    float: right;
    cursor: pointer;
    color: red;
    right: .5rem;
    position: absolute;
}
li{
    
    border-bottom: 1px solid rgba(113, 113, 113, 0.622);
    list-style: none;
    padding-bottom: 1rem;
    margin-bottom: 16px;
    position: relative;
}